.design{
    position: absolute;
    margin-top: -280px;
    color: black;
    padding-left: 10px;
    padding-right: 5px;
}
.card1{
    margin-left: 50px;
    padding-left: 12px;
    padding-right: 12px;
}