.div1{
    margin-left: 6px;
justify-content: space-between;
}
.nav1{
    justify-content: space-between;
    width: max-content;
}
.nav4{
    border: 1px solid whitesmoke;
}
.nav2{
    display: flex;
}
.me-auto{
    margin-top: 6px;
}